<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "タイトル" %>
      <%= form.file_field :image %>
      <%= form.text_area :text, placeholder: "レシピ、補足、168文字まで入力可能", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>